:root {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;

    /* Storing colours in custom variables */
    --primary-colour: #1F2937;
    --secondary-colour: #F9FAF8;
    --tertiary-colour: #E5E7EB;
    --quaternary-colour: #3882F6;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-colour);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    font-size: 18px;
    font-weight: 300;
}

header, footer {
    padding: 10px 150px;
}

.content-section {
    /* Adding vertical padding to content */
    padding: 50px 150px;
}

.hero-section {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

.info-section {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    text-align: center;
}

.quote-section {
    background-color: var(--tertiary-colour);
    color: var(--primary-colour);
}

.cta-section {
    color: var(--secondary-colour);
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: var(--secondary-colour);
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--secondary-colour);
    font-weight: 400;
}

.hero-section h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
}

.hero-section img {
    border: 1px solid red;
    height: 200px;
    width: 300px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: var(--tertiary-colour);
}

.hero-text {
    font-size: 18px;
    color: var(--tertiary-colour);
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-section h2 {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 35px;
    font-weight: 900;
}

.info-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.info-container img {
    border: 3px solid var(--quaternary-colour);
    border-radius: 15px; /* if image corners aren't clipped, use overflow: hidden; */
    height: 150px;
    width: 150px;
}

.quote-section figure {
    padding: 0 250px;
}

.quote-section blockquote {
    margin: 0;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
}

.quote-section figcaption {
    margin: 0;
    color: var(--primary-colour);
    font-size: 24px;
    font-weight: 700;
    text-align: end;
}

.cta-container {
    background-color: var(--quaternary-colour);
    border-radius: 10px;
    padding: 20px 20px;
}

.cta-button, .cta-button-outline {
    cursor: pointer;
    padding: 9px 27px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--quaternary-colour);
    color: var(--secondary-colour);
    border-radius: 6px;
    border: none;
}

.cta-button-outline {
    border: 2px solid var(--secondary-colour);
}