:root {
    font-family: "Roboto", sans-serif;

    /* Storing colours in custom variables */
    --primary-colour: #1F2937;
    --secondary-colour: #F9FAF8;
    --tertiary-colour: #E5E7EB;
    --quaternary-colour: #3882F6;
}

p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 300;
}

header, footer {
    padding: 2rem 20rem;
}

.content-section {
    padding: 6rem 20rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-colour);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    font-size: 18px;
    font-weight: 300;
}

.hero-section {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.info-section {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    text-align: center;
}

.quote-section {
    background-color: var(--tertiary-colour);
    color: var(--primary-colour);
}

.cta-section {
    color: var(--secondary-colour);
}

.header-logo {
    font-size: 2rem;
    font-weight: 900;
    color: var(--secondary-colour);
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--secondary-colour);
    font-weight: 300;
}

.hero-section h1 {
    margin-bottom: 0.7rem;
    padding: 0;
    font-size: 3.5rem;
    font-weight: 900;
}

.hero-section p {
    margin-bottom: 0.5rem;
}

.hero-section img {
    border: 1px solid var(--tertiary-colour);
}

.header-links a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--tertiary-colour);
}

.hero-text {
    color: var(--tertiary-colour);
    margin-bottom: 2rem;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.info-section h2 {
    margin: -3rem 0 2rem 0;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 900;
}

.info-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
}

.info-container img {
    border: 3px solid var(--quaternary-colour);
    border-radius: 15px; /* if image corners aren't clipped, use overflow: hidden; */
    margin-bottom: 1rem;
}

.quote-section blockquote {
    margin: 0;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
}

.quote-section figcaption {
    margin: 0;
    color: var(--primary-colour);
    font-size: 24px;
    font-weight: 700;
    text-align: end;
}

.cta-container {
    background-color: var(--quaternary-colour);
    border-radius: 10px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.cta-container h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.cta-button, .cta-button-outline {
    cursor: pointer;
    padding: 9px 27px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--quaternary-colour);
    color: var(--secondary-colour);
    border-radius: 6px;
    border: none;
}

.cta-button-outline {
    border: 2px solid var(--secondary-colour);
}