:root {
    font-family: "Roboto", sans-serif;
    /* Storing colours in custom variables */
    --primary-colour: #1F2937;
    --secondary-colour: #F9FAF8;
    --tertiary-colour: #E5E7EB;
    --quaternary-colour: #3882F6;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

section {
    padding: 0 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-colour);
}

.hero-section {
    background-color: var(--primary-colour);
}

.info-section,.cta-section {
    background-color: white;
}

.quote-section {
    background-color: var(--tertiary-colour);
}

.cta-container {
    background-color: var(--quaternary-colour);
}

.footer {
    background-color: var(--primary-colour);
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: var(--secondary-colour);
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: var(--tertiary-colour);
}

.hero-text {
    font-size: 18px;
    color: var(--tertiary-colour);
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--secondary-colour);
}

button {
    padding: 9px 27px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: var(--quaternary-colour);
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

blockquote {
    background-color: var(--tertiary-colour);
}

figcaption {
    color: var(--primary-colour);
}